{% extends 'base.html' %}
{% load bootstrap %}


{% block titulo %}
    Cadastrar Clientes
{% endblock %}

{% block conteudo %}
    <h1> Novo Cliente </h1>

    <form method="post">
        {% csrf_token %}

        <div class='form-row'>
            <div class='form-group col-sm-6 col-md-4'>
                {{ form | bootstrap }}
            </div>
        </div>

        <button type="submit" class="btn btn-success"> Criar </button>

        <button class='btn btn-warning' >
            <a href="{% url 'cliente_listar' %}"> Cancelar </a>
        </button>

    </form>

    
{% endblock %}


